.notification {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}


.info {
  font-size: 18px;
  color: darkgreen;
  margin: 5px;
  padding: 5px;
  border: 2px solid green;
  background-color: lightgreen;
}

.error {
  font-size: 18px;
  color: darkred;
  margin: 5px;
  padding: 5px;
  border: 2px solid red;
  background-color: pink;
}

.blog {
  color:#212;
  padding-left: 8px;
  margin: 2px 0px;
  border: 1px solid #999;
  background-color: #eff;

}